<h1>Carros Cadastrados</h1>

{{#if cars}}
    <ul>
        {{#each cars}}
            <li>
                Modelo: {{modelo}} | Marca: {{marca}} | Ano: {{ano}} | Cor: {{cor}}            
            <div class="actions">
            <a href="/cars/edit/{{id}}">
            <button type="button" class="edit-btn">Editar</button>
            </a>
            <form action="/cars/remove/{{id}}" method="POST">
                <button type="submit" class="delete-btn">Apagar</button>
            </form>
            </div>
            </li>
            
        {{/each}}
    </ul>
{{else}}
    <p>Nenhum carro cadastrado ainda.</p>
{{/if}}